# web
fastapi==0.115.0
uvicorn==0.32.0
gunicorn==23.0.0
httpx==0.27.2
python-multipart==0.0.9

# db
SQLAlchemy==2.0.36
pymysql==1.1.1
python-dotenv==1.1.1

# data (compatibles con Py 3.13 sin compilar)
numpy==2.2.2
pandas==2.2.3