# web
fastapi==0.118.3
uvicorn==0.37.0
gunicorn==23.0.0
httpx==0.28.1
python-multipart==0.0.20

# db
SQLAlchemy==2.0.44
pymysql==1.1.1
python-dotenv==1.1.1

# security / signing (para la cookie de sesión local)
itsdangerous==2.2.0

# data
numpy==2.3.3
pandas>=2.0
openpyxl>=3.1.0